<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>作业</title>

    <link href="../bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="../bootstrap/bootstrap.bundle.min.js"></script>
</head>
</head>

<body>
<!-- 顶部 -->
<div class="container-md container-lg container-xl mt-4">
    <nav class="navbar navbar-light bg-info  ">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:;">
                <img alt="" class="d-inline-block align-text-top" height="24" src="../image/Snipaste_2023-07-24_21-08-20.png"
                     width="30">
                my...web...
            </a>
        </div>
    </nav>
</div>

<div class="container mt-4" id="app">
    <div class="d-flex align-items-start">
        <div aria-orientation="vertical" class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist">
            <button aria-controls="v-pills-home" aria-selected="true" class="nav-link active"
                    data-bs-target="#v-pills-home" data-bs-toggle="pill" id="v-pills-home-tab" role="tab"
                    type="button">主页
            </button>
            <button aria-controls="v-pills-profile" aria-selected="false" class="nav-link"
                    data-bs-target="#v-pills-profile" data-bs-toggle="pill" id="v-pills-profile-tab" role="tab"
                    type="button">个人信息
            </button>
            <button aria-controls="v-pills-messages" aria-selected="false" class="nav-link"
                    data-bs-target="#v-pills-messages" data-bs-toggle="pill" id="v-pills-messages-tab" role="tab"
                    type="button">历史记录
            </button>
            <button aria-controls="v-pills-settings" aria-selected="false" class="nav-link"
                    data-bs-target="#v-pills-settings" data-bs-toggle="pill" id="v-pills-settings-tab" role="tab"
                    type="button">收藏
            </button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div aria-labelledby="v-pills-home-tab" class="tab-pane fade show active" id="v-pills-home"
                 role="tabpanel">

                <!-- 文本输入框 -->
                <div class="mb-3">
                        <textarea class="form-control" cols="130" placeholder="请输入内容后回车确认" ref="poemarea"
                                  rows="6"
                                  v-model="poem" v-on:keydown.enter="addPoem()"></textarea>
                </div>

            </div>
            <div aria-labelledby="v-pills-profile-tab" class="tab-pane fade" id="v-pills-profile" role="tabpanel">
                <textarea cols="130" name="form-control" placeholder="请输入内容后回车确认" ref="area"
                          rows="6"></textarea>
            </div>
            <div aria-labelledby="v-pills-messages-tab" class="tab-pane fade" id="v-pills-messages" role="tabpanel">
                懒得改
                <div>
                    <div aria-labelledby="v-pills-settings-tab" class="tab-pane fade" id="v-pills-settings"
                         role="tabpanel">
                        我就是如此的懒
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-1" v-for="item in contentArr">
        <div class="card text-center mt-1">
            <div class="card-body">
                <p class="card-text">{{item.poem}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container " style="height: 140px;background-color: #fff;">
</div>
<!-- 底部 -->
<div class="container-fluid fixed-bottom">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">此网站由孤独的字母M创建</h5>
            <p class="card-text">这个人很懒什么也没有留下......</p>
            <a class="btn btn-primary" href="https://gitee.com/mayuanwei/summer-program">This is a jump to the
                page</a>
        </div>
    </div>
</div>
</body>

</html>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const { createApp } = Vue
    const app = createApp({
        data() {
            return {
                poem: ''
            }
        },
        methods: {
            addPoem() {
                let that = this
                console.log(that.poem);
                axios.post('http://localhost:3000/poem', {
                    poem: that.poem
                },
                    {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    })
                    .then(function (response) {
                        console.log(response);
                    })
                this.poem = ''
                this.$refs.poemarea.blur()
            },
            getPoem() {
                let that = this
                axios.get('http://locahost:3000/poem')
                .then(function (response) {
                    that.poemArr=response.data
                })
            }
        },
        mouted() {
            this.getPoem()
        }
    }
    )

    app.mount('#app')
</script>